
torch
torchaudio
nemo_toolkit[asr]
hydra-core
omegaconf
sentencepiece
librosa
soundfile
numpy
jiwer
tqdm
pyyaml
requests
pandas
pydub
matplotlib
lyricsgenius
python-dotenv
yt-dlp
openai-whisper
demucs
torchcodec